.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  :state(--webkit-scrollbar) {
    background: transparent;
    width: 0px;
  }
}

#orders tbody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  height: 81.4vh;
}

tr[class*="order-card"] {
  display: grid;
  color: white;
  width: 400px;
  margin-top: 5px;
  border-radius: 0.5rem;
  grid-template-columns: 5fr;
  gap: 0px 0px;
  font-family: "Geist", sans-serif;
  font-weight: 500;
  grid-auto-flow: row;
  grid-template-areas:
    "name"
    "product"
    "quantity"
    "price";
  border: 1px solid var(--border);

  &:hover {
    background-color: var(--accent);
  }

  span {
    font-family: "Geist Mono", monospace;
    font-weight: 300;
    font-size: 0.9rem;
  }

  td:not(:first-child) {
    padding: .2rem 0.5rem .2rem 0.5rem;
  }

  .card-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    margin: 0px;

    span {
      margin-right: auto;
    }
  }

  &:last-child {
    margin-bottom: 5px;
  }
}

tr[class*="user-card"] {
  display: grid;
  color: white;
  width: 700px;
  margin-top: 5px;
  border-radius: 0.5rem;
  grid-template-columns: 5fr;
  gap: 0px 0px;
  font-family: "Geist", sans-serif;
  font-weight: 500;
  grid-auto-flow: row;
  grid-template-areas:
    "name"
    "product"
    "quantity"
    "price";
  border: 1px solid var(--border);

  &:hover {
    background-color: var(--accent);
  }

  span {
    font-family: "Geist Mono", monospace;
    font-weight: 300;
    font-size: 0.9rem;
  }

  td:not(:first-child) {
    padding: .2rem 0.5rem .2rem 0.5rem;
  }

  td {
    margin-left: 6rem;;
  }

  img {
    width: 90px;
    height: 90px;
    padding: 0.5rem;
    position: absolute;
  }

  .card-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    margin: 0px;

    span {
      margin-right: auto;
    }
  }

  &:last-child {
    /* margin-bottom: 5px; */
    padding-bottom: 0.5rem;
  }
}

div svg {
  color: var(--card-foreground);
  transition: color 0.3s;

  &:hover {
    color: #7f7f7f;
  }
}

.orders-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--muted);
  padding: .5rem 0rem .5rem 1rem;
  border-radius: 0.5rem;
  font-family: "Geist Mono", monospace;
  color: white;

  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;

    input {
      border: 1px solid hsl(240 3.7% 26.9%);
      height: 2.2em;
      padding-left: 0.8em;
      outline: none;
      overflow: hidden;
      background-color: transparent;
      color: #6f6f6f;
      border-radius: 0.2rem;
      transition: all 0.5s;

      &:hover,
      &:focus {
        border: 1px solid hsl(240 3.7% 55.9%);
        box-shadow: 0px 0px 0px 3.5px rgb(156, 156, 156, 20%);
      }
    }
  }
}

.footer {
  display: flex;
  font-family: "Geist Mono", monospace;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgb(39, 39, 42);
  color: white;
  width: 100%;
  position: relative;

  #create-button {
    margin-right: auto;
  }

  .paginator-container {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  button-component[class*="paginator"] {
    margin: 0;
  }

  .paginator-current {
    padding-top: 0.5rem;
  }
}